body {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h1 {
    text-align: center;
}

.img_center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w_250 {
    width: 250px;
}

.w_800 {
    width: 800px;
}

.img_side_by_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#main_article {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    row-gap: 30px;
    
}

.main_article_div {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}




