body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    row-gap: 15px;
    margin-bottom: 40px;
    line-height: 1.7;
}

body > h1 {
    text-align: center;
}

h3, p {
    margin: 0;
}

h4 {
    margin-bottom: 0;
}

ol {
    margin-top: 0;
}


#main_article > div {
    border-bottom: 1px solid grey;
}


@media only screen and (max-width: 900px) {
    body {
        width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 90%;
    }
}
