body {
    font-family: 'Montserrat', sans-serif;
}

#main_article {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    row-gap: 30px;
    
}

#main_article > div {
    border-bottom: 1px solid grey;
}

.figure_text {
    margin-top: 2px;
    text-align: center;
}

.picture_adjust {
    margin-bottom: 2px;
    display: block;
    margin: auto;

}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    margin: 0px;
}

