body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

strong {
    font-weight: bold;
}

.bold_list {
    padding-top: 15px;
}


article {
    width: 80ch;
    margin: auto;
}

p {
    margin-top: 2px;
    line-height: 150%;
}

h3 {
    margin-bottom: 2px;
}

hr {
    margin: 15 0px;
}

.about {
    width: 80ch;
    margin: auto;
}

