/*Styles the body of all pages with correct background color and font.
Margin is set to 0 and height to 100% to ensure that the footer is 
pushed to the bottom of the page*/
body {
    background-color: rgb(241, 236, 229);
    font-family: "Inika", serif;
    margin: 0;
    height: 100%;
}

/*Sets top margin of the navbar*/
.navbar_whole {
    margin-top: 10px;
}

/*Styles all buttons*/
.button {
    border: 0px;
    background-color: rgb(64, 125, 26);
    color: white;
}

/*Styles all buttons when hovered*/
.button:hover {
    background-color: rgb(73, 143, 29);
    cursor: pointer;
}

/*Sets size and font size to medium sized buttons*/
.medium_button {
    font-size: 14pt;
    height: 42px;
    width: 70px;
}

/*Sets size and font size to large buttons*/
.big_button {
    font-size: 17pt;
    width: 135px;
    height: 50px;
}

/*Sets size and font size to the cart button. 
Display is set to none to hide the button when the cart is empty*/
.cart_button {
    display: none;
    width: 110px;
    height: 30px;
    font-size: 13pt;
}

/*Sets green text, used for the header in the navbar*/
.green_text {
    color: rgb(64, 125, 26);
}

/*Sets red text, used for the header in the navbar*/
.red_text {
    color: rgb(255, 0, 0);
}

/*Sets white text, used for the header in the navbar*/
.white_text {
    color: white;
}

/*Sets margin to auto, used in several elements to prevent repetetive code*/
.margin_auto {
    margin: auto;
}

/*Sets margin to 0, used in several elements to prevent repetetive code*/
.margin_zero {
    margin: 0;
}

/*Sets top margin to 15px and bottom margin to 0, used in several elements to prevent repetetive code*/
.margin_top_15_bottom_0 {
    margin-top: 15px;
    margin-bottom: 0px;
}

/*Sets center aligned text, used in several elements to prevent repetetive code*/
.text_center {
    text-align: center;
}

/*Styles the box shadow. Used for pizza boxes, forms and confirmations */
.box_shadow {
    box-shadow: 3px 3px lightgrey;
    border-radius: 10px;
}

/*Sets display to flex with direction row, justifies and aligns items to center*/
.flex_row_center_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Sets display to none with direction row, justifies and aligns items to center*/
.none_row_center_center {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Sets display to none with direction column, justifies and aligns items to center*/
.none_column_center_center {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Sets display to flex with direction column, justifies and aligns items to center*/
.flex_column_center_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Sets display to flex with direction row, justifies content to center*/
.flex_row_justifycenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Sets flex wrap*/
.flex_wrap {
    flex-wrap: wrap;
}

/*Sets background color to off-white*/
.off_white_background {
    background-color: rgb(241, 236, 229);
}

/*Sets background color to white*/
.white_background {
    background-color: white;
}

/*Sets list style type to none, used in navbar*/
.no_list_style {
    list-style-type: none;
}

/*Sets font to Inika with size 18pt*/
.font_inika_18 {
    font-family: "Inika", serif;
    font-size: 18pt;
}

/*Sets top and bottom margin to 0, left and right to 30px*/
.margin_30_left_right {
    margin: 0 30px;
}

/*Styles links*/
.links {
    text-decoration: none;
    color: black;
}

/*Styles links when hovered*/
.links:hover {
    color: rgb(255, 0, 0);
    transition: 0.2s;
}

/*Styles links of the active page*/
.active {
    color: rgb(64, 125, 26);
}

.active .links {
    color: rgb(64, 125, 26);
}

/*Styles dots in the navbar*/
.dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
}

/*Sets row and column gap to 60px*/
.gap_60 {
    gap: 60px 60px;
}

/*Styles the shadow of the logo text in navbar*/
.logo_text_shadow {
    padding: 0px;
    margin: 0px;
    font-size: 64pt;
    font-family: "Italiana", serif;
    text-shadow: -1px -1px 0 rgb(102, 102, 102), 1px -1px 0 rgb(102, 102, 102),
        -1px 1px 0 rgb(102, 102, 102), 1px 1px 0 rgb(102, 102, 102);
}

/*Styles the shadow of the logo text in home page*/
.logo_text_shadow_index {
    padding: 0px;
    margin: 0px;
    font-size: 64pt;
    font-family: "Italiana", serif;
    text-shadow: -1px -1px 0 rgb(102, 102, 102), 1px -1px 0 rgb(102, 102, 102),
        -1px 1px 0 rgb(102, 102, 102), 1px 1px 0 rgb(102, 102, 102);
}

/*Positions the images in navbar*/
.navbar_image {
    width: 120px;
    padding-left: 70px;
    padding-right: 70px;
}

/*Positions the images in home page*/
.index_pizza_guy_image {
    width: 120px;
    height: 120px;
    padding: 0px;
}

/*Sets padding and gap of the footer*/
.footer {
    gap: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Styles the circles with links in the home page*/
.home_circles {
    padding: 0 0px;
    width: 250px;
    max-width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(64, 125, 26);
    font-size: 30px;
    color: black;
    text-align: center;
    background: white;
}

/*Sets flex display of the logo bar in the home page*/
.logo_bar_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

/*Styles image of pizza on the small pizza cards*/
.small_pizza_card_image {
    max-width: 80%;
    margin-bottom: 10px;
}

/*Styles the large pizza cards*/
.big_pizza_card {
    max-width: 85%;
    gap: 100px;
    height: 500px;
}

/*Styles the info section of the big pizza card*/
.big_pizza_card_info {
    margin-right: 40px;
}

/*Styles the image of the big pizza card*/
.big_pizza_card > img {
    max-width: 50%;
    max-height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

/*Styles the closing button on the big pizza card*/
#close_button_one {
    margin-left: 80%;
}

/*Styles the closing button on the big pizza card. Only displayed on smaller screens*/
#close_button_two {
    display: none;
}

/*Styles the pizza boxes on the menu/order page*/
.pizza_box {
    width: 350px;
}

.pizza_box > h3 {
    margin-top: 0;
}

/*Styles extra dot in navbar. 
Is only displayed when there are items in the cart.*/
#cart_dot {
    display: none;
}

/*Styles the div which contains all pizza cards on the menu page*/
#menu_box {
    margin-bottom: 30px;
}

/*Styles the info text on the big pizza card*/
.big_pizza_card_text {
    gap: 10px;
    margin-top: 40px;
}

.big_pizza_card_text > h3 {
    font-size: 25pt;
}

/*Styles the order page*/
.orderpage {
    gap: 20px;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Styles the form of the order page*/
.orderpage > form {
    gap: 10px;
    padding-bottom: 40px;
}

/*Styles input fields of the order form*/
.order_form {
    border: 1px solid rgb(64, 125, 26);
    width: 300px;
    height: 40px;
    margin: auto;
}

/*Styles order info in the cart*/
.order_info {
    gap: 10px;
    height: 200px;
    width: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 50px;
}

/*Styles order details info on the order confirmation*/
.order_details_info {
    gap: 10px;
    height: 200px;
    width: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 15px;
}

/*Styles order details on the order confirmation*/
.order_details {
    margin-top: 30px;
    border: 1px solid gray;
}

/*Styles the images of the pizzas in the cart*/
.order_info_image {
    width: 230px;
    height: 180px;
}

/*Styles the info to the right of the images in the cart*/
.right_order_info_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 150px;
    margin: 0;
}

/*Styles the section in the cart where you can add or remove items*/
.add_or_remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    height: 25px;
    margin: 0;
}

/*Styles the buttons for adding/removing items from cart*/
.add_or_remove > button {
    width: 25px;
}

/*Styles the text that shows the number of pizzas you have added*/
.add_or_remove > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin: 0;
    padding-left: 10px;
}

/*Styles the text that shows name of pizza in cart*/
.selected_pizza_in_cart {
    font-size: 18pt;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

/*Styles the text that shows price of pizza in cart*/
.price_of_pizza_in_cart {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin: 0;
    text-align: center;
}

/*Styles the time input of the order and booking form*/
#time_input {
    border: 1px solid rgb(64, 125, 26);
    width: 240px;
    height: 40px;
    margin: auto;
}

/*Styles wrapper class with display flex in column direction. Ensures that the footer is pushed to the bottom of the page*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/*Styles the main body of all pages*/
.main_body {
    text-align: center;
    margin: 30px;
}

/*Styles the body of about.html*/
.about_body {
    margin-left: 17px;
    margin-right: 17px;
}

/*Styles the highlighted year in about.html*/
#red_year {
    color: red;
    font-size: 25pt;
}

/*Styles headers in about.html*/
.about_body > h3 {
    font-size: 18pt;
    margin-bottom: 0;
    font-weight: lighter;
}

/*Styles paragraphs in about.html*/
.about_body > p {
    font-size: 10pt;
    margin-top: 0;
}

/*Sets padding of the bookking form*/
#Booking_form {
    padding: 5px;
}

/*Styles the body of booking.html*/
.booking_body {
    border-radius: 40px;
    padding-bottom: 30px;
    margin: auto 230px auto 230px;
    padding: 30px;
}

/*Styles checkmark-animation used for order confirmation*/
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.3s ease-in-out 0.3s forwards,
        scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

/*Styles button used to set time to "now" in order/booking form*/
#now_button {
    border: 0px;
    background-color: rgb(64, 125, 26);
    color: white;
    font-size: 12pt;
    width: 55px;
    height: 40px;
}

/*Styles the submition button of the reservation page*/
#booking_button {
    border: 0px;
    background-color: rgb(64, 125, 26);
    color: white;
    font-size: 17pt;
}

/*Styles the submition button of the order page*/
#order_now_button {
    border: 0px;
    background-color: rgb(64, 125, 26);
    color: white;
    font-size: 12pt;
    width: 115px;
    height: 30px;
}

/*Styles the closing button of the order page*/
#order_page_close_button {
    margin-left: 85%;
    margin-top: 30px;
}

/*Keyframes for the checkmark on the order confirmation page*/
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

/*Styles the hamburger menu, which is only displayed on smaller screens*/
#hamburger_menu {
    display: none;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: darkgray;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active_hamburger {
    background-color: darkgray;
    color: white;
}
#Confirmation {
    display: none;
}

/*Responsive design:*/

/*Media quieries for screens with a width less than 1150px*/
@media only screen and (max-width: 1150px) {
    /*Adjusts the big pizza card to a column direction*/
    .big_pizza_card {
        width: 90%;
        height: 100%;
        font-size: 15pt;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    /*Adjusts the margin of the image on the big pizza card to 0*/
    .big_pizza_card > img {
        max-width: 50%;
        max-height: 80%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    /*Adjusts the margin of the info on the big pizza card to 0*/
    .big_pizza_card_info {
        max-width: 90%;
        height: 100%;
        margin-right: 0px;
    }

    /*Hides the close button aligned to the right of the image on the big pizza card*/
    #close_button_one {
        display: none;
    }

    /*Displayes the close button aligned above the image on the big pizza card*/
    #close_button_two {
        display: block;
        margin-top: 5%;
        margin-left: 80%;
    }
}

/*Media quieries of screens with width smaller than 1230px*/
@media only screen and (max-width: 1230px) {
    /*Adjusts the navbar text to be smaller*/
    .navbar_text {
        font-size: 17pt;
        margin-left: 25px;
        margin-right: 25px;
    }

    /*Adjusts the width of the pizza boxes on the menu page to be smaller*/
    .pizza_box {
        width: 300px;
    }
}

/*Media quieries of screens with width smaller than 1050px*/
@media only screen and (max-width: 1050px) {
    /*Adjusts the navbar text to be smaller*/
    .navbar_text {
        font-size: 16pt;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*Hides the dots in the navbar*/
    .dot {
        display: none;
    }

    #cart_dot {
        display: none;
    }

    /*Adjusts the width of the pizza boxes on the menu page to be smaller*/
    .pizza_box {
        width: 275px;
    }

    /*Adjusts the width of the order confirmation to be larger*/
    #order_confirmation {
        width: 85%;
    }

    /*Lowers the gap in the footer*/
    .footer {
        gap: 4%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /*Hides the logo images in the home page*/
    .index_pizza_guy_image {
        display: none;
    }
}

/*Media quieries of screens with width smaller than 945px*/
@media only screen and (max-width: 945px) {
    .navbar_text {
        /*Adjusts the navbar text to be smaller*/
        font-size: 15pt;
        margin-left: 10px;
        margin-right: 10px;
    }

    /*Adjusts the width of the pizza boxes on the menu page to be smaller*/
    .pizza_box {
        width: 250px;
    }

    /*Adjusts the width of the order confirmation to be larger*/
    #order_confirmation {
        width: 95%;
    }

    /*Hides the logo images in the navbar*/
    .navbar_image {
        display: none;
    }

    /*Adjusts the content of the home page to be in a column direction*/
    .home_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*Sets margin of the booking body to auto*/
    .booking_body {
        margin: auto;
    }
}

/*Media quieries of screens with width smaller than 830px*/
@media only screen and (max-width: 830px) {
    /*Hides the navbar*/
    #navbar_link_bar {
        display: none;
    }

    /*Sets the content of the footer in a column direction*/
    .footer {
        flex-direction: column;
        gap: 2%;
        margin-top: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /*Displays the hamburger menu*/
    #hamburger_menu {
        display: block;
    }

    /*Adjusts the width of the order page to be wider*/
    .orderpage {
        width: 100%;
    }

    /*Adjusts the order info in the cart in a column direction*/
    .order_info {
        height: 350px;
        width: 200px;
        flex-direction: column;
        border: none;
    }

    /*Adjusts the order info in the order confirmation in a column direction*/
    .order_details_info {
        height: 350px;
        width: 200px;
        flex-direction: column;
        border: none;
    }

    /*Sets a smaller margin for the close button on the big pizza card*/
    #close_button_two {
        margin-left: 70%;
    }

    /*Sets a smaller margin for the close button in the cart*/
    #order_page_close_button {
        margin-left: 70%;
    }

    /*Sets a smaller width for the order form inputs*/
    .order_form {
        width: 200px;
    }

    /*Sets a smaller width for the time input in the forms*/
    #time_input {
        width: 140px;
    }
}
